:root{
    --background-color: hsl(30, 38%, 92%);
    --background-color-card-text: hsl(0, 0%, 100%);
    --color-font:hsl(228, 12%, 48%);
    --text-button-color: hsl(158, 36%, 37%);
    --color-status:hsl(212, 21%, 14%);
}